<tr>
	<td><%= link_to raw('<i class="icon-trash"></i>'), food, method: :delete, confirm: "Remove #{food.name} from fridge?", class: "btn btn-mini" %></td>
	<td class="not-centered"><%= food.name %></td>
	<td class="not-centered"><%= l food.created_at, format: "%m-%d-%Y at %I:%m %p" %></td>
	<td><%= link_to raw('<i class="icon-search"></i>'), food %></td>
</tr>