@import "bootstrap";

/* font colors */
$lightGray: #999;
$grayMediumLight: #eaeaea;
$darkBlue: #2B4D82;
$darkBlueRollover: #3B6AB2;
$lightBlue: #3B7F96;

/* background colors */
$lightBlueGray: #B6DBE7; 


/* universal */

html {
	overflow-y: scroll;
}
body {
	padding-top: 60px;
	background: $lightBlueGray;
}
section	{
	overflow: auto;
}
textarea {
	resize: vertical;
}
.center {
	text-align: center;
	vertical-align: middle;
	padding: 10px
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}
h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}
h2 {
	font-size: 1.3em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	font-weight: normal;
/*	color: $lightGray;*/
	display:inline;
}
p {
	font-size: 1.1em;
	line-height: 1.7em;
}
.content {
    font-family: Verdana, sans-serif;
    text-align: left;
}

.info {
    padding: 5px;
    text-algin: left;
}


/* header & footer */
.navbar {
	background: $lightGray;
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: $darkBlue;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: $darkBlueRollover;
		text-decoration: none;
	}
}

/* tables */
.table-bordered {
	width: 100%;
	text-align: center;
	.not-centered {
	    text-align: left;
	}
}

.home {
	list-style: none;
}

.bottom {
	padding: 10px;
}

.entry {
    padding: 10px;
    p {
        line-height: 1.2em;
    }
}

/* buttons */
.btn-primary {
    background: $darkBlue;
    &:hover {
        background: $darkBlueRollover;
        /*color: $darkBlue;*/
    }
}

/* forms */
.check_box {
	display: inline-block;
	
	label {
		float: left;
	}
	
	span.remove_avatar {
		position: relative;
		
		&.box {
			float: right;
			padding-left: 5px;
		}
	}

}
